<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TorrentDownloaderEntities" connectionString="metadata=res://*/TorrentDownloaderDatabase.csdl|res://*/TorrentDownloaderDatabase.ssdl|res://*/TorrentDownloaderDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=TorrentDownloader;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>